* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*@font-face {
  font-family: yekan;
  src: url("font/BYekan+.ttf") format("truetype");
}*/

body {
  font-family: sans-serif;
  background-color: black;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.note {
  text-align: center;
  width: 90%;
  color: #fff;
  padding-top: 10px;
  background-color: #910909;
  border-radius: 20px;
  height: 7vh;
}
.info {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  background-color: rgba(29, 34, 45);

  border-radius: 20px;
  height: 80vh;
  align-items: center;
}
.helicopter,
#vip,
#ship,
.submarine {
  height: 80%;
  width: 20vw;
  border: 1px #eb8307;
  border-radius: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#ship {
  height: 70%;
  gap: 15px;
}
#vip {
  position: relative;
}
#icon-one {
  margin-top: 40px;
}
.suggest {
  justify-content: center;
  padding-top: 10px;
  align-items: center;
  position: absolute;
  left: 30%;
  bottom: 95%;
  text-align: center;
  background-color: #eb8307;
  border-radius: 30px;
  height: 40px;
  width: 40%;
  color: #fff;
}
/*svg {
  overflow: hidden;
  vertical-align: middle;
}*/
.icon,
#icon-one,
#icon {
  height: 25%;
  margin-top: 40px;
  width: 40%;
}
#icon {
  margin-top: 60px;
  height: 30%;
}
small {
  color: gray;
  font-size: 15px;
}
strong {
  color: #eb8307;
}
.time {
  background-color: rgb(21, 25, 34);
  border-radius: 30px;
  height: 40px;
  width: 80px;
  color: white;
  font-size: 20px;
  padding-bottom: 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 5px;
}
.four {
  width: 80px;
}
.last-price {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  font-size: 25px;
  color: #fff;
}
.last-price::before {
  content: "";
  position: absolute;

  left: 45px;
  top: -20px;
  transform: rotate(80deg);
  height: 75px;
  width: 2px;
  background-color: #fff;
}
.num {
  color: #eb8307;
  font-size: 40px;
}
.new-price {
  display: flex;

  width: 100%;
  height: 10%;

  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.buy,
#buy {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  color: #eb8307;
  width: 85%;
  height: 13%;
  border-radius: 15px;
  border: 2px solid #eb8307;
}
.buy:hover {
  background-color: #eb8307;
  color: #fff;
}
#buy {
  background-color: #eb8307;
  color: #fff;
}
#buy:hover {
  color: #eb8307;
  background-color: black;
}
@media screen and(min-width: 600px) {
  body {
    color: #f70707;
  }
}

@media screen and (max-width: 1600px) {
  body {
    color: aqua;
  }
}
/*@media screen and (max-width:1340px) {
  .item_body_widget .cover img{
    height: 230px
  }
}
@media screen and (max-width:1140px) {
  .home_update_series .body .item_body_widget {
    margin-bottom: 15px;
    width: calc(16% - 10px);
  }
  .home_update_series .body .item_body_widget:nth-last-child(-n+2){
    display: none;
  }
}

@media screen and (max-width:1000px) {
  .home_update_series .body .item_body_widget }*/
